@media screen and (min-width: 320px) {

    .container {
        width: 480px;
        margin-left: auto;
        margin-right: auto;
    }

    .site-nav {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-left: 76px;
    }

    .site-nav .item:not(:last-child) {
        margin-right: 40px;
    }

.mobile-menu-open-icon{
    width: 30px;
        height: 20px;
}
    .header-link {

        color: var(--dark);
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }

    .header-link:hover,
    .header-link:focus {
        color: var(--pressed-state);
        text-decoration: none;
    }

    .header-link::after {
        content: '';

        position: absolute;
        top: 44px;
        display: block;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: var(--pressed-state);

        transition-property: opacity;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
    }

    .header-link:hover::after,
    .header-link:focus::after {
        opacity: 1;
    }

    .current {
        color: var(--primary-brand);

    }

    .current::after {
        content: '';

        position: relative;
        top: 24px;
        display: block;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: var(--pressed-state);
    }

    .main-nav {
        align-items: center;
    }

    .logo {
        color: var(--primary-brand);
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.3;
        text-decoration: none;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .logo-next {
        color: var(--modal-overlay);
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.3;
        text-decoration: none;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }



    .auth-nav {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .address {
        margin-left: auto;

    }

    .auth-nav .item:not(:last-child) {
        margin-right: 40px;
    }

    .auth-nav-link {
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text);
        text-decoration: none;
        cursor: pointer;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .auth-nav-link:hover,
    .auth-nav-link:focus {
        color: var(--pressed-state);
    }
}