@media screen and (min-width: 768px) and (max-width:1157px) {

    .container {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding-top: 96px;
    }

    .mobile-menu-open {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu-nav {
        display: none;
    }

    /* --------------HEADER TABLET----------- */
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .site-nav {
        display: flex;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-left: 120px;
        gap: 40px;
    }


    .site-nav>.header-link {

        color: var(--dark);
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }

    .site-nav>.header-link:hover,
    .site-nav>.header-link:focus {
        color: var(--pressed-state);
        text-decoration: none;
    }

    .site-nav>.header-link::after {
        content: '';

        position: absolute;
        top: 44px;
        display: block;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: var(--pressed-state);

        transition-property: opacity;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
    }

    .site-nav>.header-link:hover::after,
    .site-nav>.header-link:focus::after {
        opacity: 1;
    }

    .current {
        color: var(--primary-brand);

    }

    .current::after {
        content: '';

        position: relative;
        top: 20px;
        display: block;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: var(--pressed-state);
    }

    .main-nav {
        display: flex;
        align-items: center;
    }

    .logo {
        color: var(--primary-brand);
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.3;
        text-decoration: none;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .logo-next {
        color: var(--modal-overlay);
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.3;
        text-decoration: none;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .address {
        margin-left: auto;
    }

    .auth-nav>.tablet {
        padding-top: 12px;
    }

    .auth-nav-link {
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text);
        text-decoration: none;
        cursor: pointer;


        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .auth-nav-link:hover,
    .auth-nav-link:focus {
        color: var(--pressed-state);
    }

    /* --------------HEADER TABLET----------- */

    /* ------SECTION HERO TABLET---------*/


    .box-order {
        text-align: center;
    }

    .box-order {
        padding: 112px 0;
    }

    .box-order {
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/fon-tab.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 768px;
        height: 436px;
        margin: 0 auto;

    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .box-order {
            background-image: linear-gradient(to right,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/fon-tab@2x.jpg);
            /* background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            max-width: 768px;
            height: 436px;
            margin: 0 auto; */
        }
    }

    .slogan {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.1;
        color: var(--white-color);
        letter-spacing: 0.02em;
        width: 496px;
        margin: 0 auto;
    }

    .button-main {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--white-color);
        background: var(--primary-brand);
        cursor: pointer;
        letter-spacing: 0.04em;
        padding: 16px 32px;
        display: inline-block;
        text-align: center;
        margin-top: 36px;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);


        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .button-main:hover,
    .button-main:focus {
        background-color: var(--pressed-state);
    }

    /* ------SECTION HERO TABLET---------*/

    /* ------CONTEIN TABLET-------- */
    .contein-list {
        display: none;
    }

    /* ------CONTEIN TABLET-------- */


    .future {
        display: flex;
        flex-wrap: wrap;
        /* padding-left: 24px; */
        /* max-width: calc(768px / 2 - 2 * 24px); */
        column-gap: 24px;
        row-gap: 72px;
        padding: 0;
    }



    .future-item {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        color: var(--modal-overlay);
        letter-spacing: 0.02em;
        width: 356px;

    }

    .future-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--text);
        letter-spacing: 0.02em;
        width: 356px;
        margin-top: 8px;
    }

    /* ------CONTEIN TABLET-------- */

    /* -------WHAT ARE WE DOING TABLET-------- */
    .rezult {
        display: none;
    }

    /* -------WHAT ARE WE DOING TABLET-------- */



    /* ---------OUR TEAM TABLET------- */

    .title-item {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }


    .content-title {
        background-color: var(--light);
    }

    .future-team {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 64px;
        padding-top: 72px;
        padding-bottom: 96px;

    }

    .future-team>.list {
        background-color: var(--white-color);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
    }

    .about-team {
        text-align: center;
        padding: 32px 0;
    }

    .future-education {
        margin-top: 8px;
        margin-bottom: 8px;
    }


    .content-find {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .content-link {
        display: flex;
        justify-content: center;
        align-items: center;
        Width: 40px;
        Height: 40px;
        background-color: var(--primary-brand);
        border-radius: 50%;

        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .content-link:hover,
    .content-link:focus {
        background-color: var(--pressed-state);
    }

    .content-item {
        width: 16px;
        height: 16px;
    }

    /* ---------OUR TEAM TABLET------- */

    /* ------CUSTOMERS TABLET---------- */

    .section-clients {
        padding-bottom: 96px;
    }

    .clients-item {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        color: var(--modal-overlay);
        text-align: center;
        letter-spacing: 0.02em;

    }

    .clients-choice {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 72px;
        gap: 24px;
    }

    .clients-choice>.list:nth-child(n+4) {
        margin-top: 48px;
    }

    .clients {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid currentColor;
        color: #8E8F99;
        border-radius: 4px;
        height: 88px;
        width: 168px;



        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .clients-list {
        width: 104px;
        height: 56px;
        fill: currentColor;

    }

    .clients:hover,
    .clients:focus {
        color: var(--pressed-state);
    }

    /* ------CUSTOMERS TABLET---------- */

    /* ------------FOOTER TABLET--------- */
    .subtitle {
        font-size: 16px;
        line-height: 1.5;
        color: var(--accent);
        letter-spacing: 0.02em;
        width: 264px;
        padding-top: 16px;
    }

    .logo-bottom {
        text-align: center;
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.7;
        color: var(--light);
        text-decoration: none;
        text-transform: uppercase;

    }

    .footer-main {
        padding: 96px 0;
        background: var(--dark);
    }

    /* ------------FOOTER TABLET--------- */

    /* ------CONTENT FOOTER TABLET------------ */

    .footer-contein {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content-footer {
        margin-left: 24px;
    }

    .content-footer-item {
        display: flex;
        gap: 16px;
    }

    .content-footer-link {
        display: flex;
        justify-content: center;
        align-items: center;
        Width: 40px;
        Height: 40px;
        background-color: var(--primary-brand);
        border-radius: 50%;

        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .content-footer-name {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-bottom: 16px;
        color: var(--white-color)
    }

    .content-footer-list {
        width: 24px;
        height: 24px;
    }

    .content-footer-link:hover,
    .content-footer-link:focus {
        background-color: #31D0AA;
    }

    /* ------CONTENT FOOTER TABLET------------ */

    /* --------FOOTER EMAIL SEND TABLET-------- */

    .subscribe-blok {
        padding-top: 16px;
    }

    .subscribe-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        padding-top: 72px;
    }

    .subscribe-in::placeholder {
        color: var(--white-color);
    }

    .subscribe-label {
        padding-top: 16px;
    }

    .subscribe-in {
        width: 264px;
        height: 40px;
        outline: none;
        border: 1px solid #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding-left: 16px;
        background-color: var(--hero-background);
        color: var(--white-color);

    }

    .subscribe-btn {
        position: relative;
        padding: 8px 64px 8px 24px;
        background-color: var(--primary-brand);
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        margin-left: 24px;
        cursor: pointer;

        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }


    .subscribe-svg {
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
        width: 24px;
        height: 20px;
    }


    .subscribe-btn:hover,
    .subscribe-btn:focus {
        background-color: var(--pressed-state);
    }

    /* --------FOOTER EMAIL SEND TABLET-------- */

    /* -------PORTFOLIO TABLET HEADER------- */
    .mobile-menu-portfolio,
    .mobile-menu-open-portfolio {
        display: none;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .site-nav {
        display: flex;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-left: 120px;
        gap: 40px;
    }


    .header-link-tablet {

        color: var(--dark);
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }

    .header-link-tablet:hover,
    .header-link-tablet:focus {
        color: var(--pressed-state);
        text-decoration: none;
    }

    .current {
        color: var(--primary-brand);

    }

    /* .current::after {
        content: '';

        position: relative;
        top: 20px;
        display: block;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: var(--pressed-state);
    } */


    /* .header-link::after {
        content: '';

        position: absolute;
        top: 44px;
        display: block;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: var(--pressed-state);

        transition-property: opacity;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
    }

    .header-link:hover::after,
    .header-link:focus::after {
        opacity: 1;
    } */

    .main-nav {
        display: flex;
        align-items: center;
    }

    .logo {
        color: var(--primary-brand);
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.3;
        text-decoration: none;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .logo-next {
        color: var(--modal-overlay);
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.3;
        text-decoration: none;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .address {
        margin-left: auto;
    }

    .auth-nav>.tablet {
        padding-top: 12px;
    }

    .auth-nav-link {
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text);
        text-decoration: none;
        cursor: pointer;


        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .auth-nav-link:hover,
    .auth-nav-link:focus {
        color: var(--pressed-state);
    }

    /* -------PORTFOLIO TABLET HEADER------- */
    /* -------PORTFOLIO TABLET BATTON------- */
    .content-btn {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--primary-brand);
        background: var(--light);
        padding: 12px 24px;
        display: inline-block;
        text-align: center;
        border: 1px solid #E7E9FC;

        transition-property: background-color, color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .content-btn:hover,
    .content-btn:focus {
        background-color: var(--pressed-state);
        color: var(--white-color);
        cursor: pointer;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

    }

    .button-list {
        display: flex;
        justify-content: center;
    }

    .button-list>.item:not(:last-child) {
        margin-right: 24px;
    }

    /* -------PORTFOLIO TABLET CONTENT------- */
    .content-card>.future-item {
        padding-left: 16px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }

    .content-card>.future-text {
        padding-left: 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .content-items {
        display: flex;
        flex-wrap: wrap;
        margin-top: 72px;
        row-gap: 72px;
        column-gap: 20px;
        padding-bottom: 96px;

    }

    .content-items>.list:nth-child(-n + 3) {
        margin-top: 0;
    }

    /* .content-items>.list { */
    /* flex-basis: calc(100% / 2-24px);
            margin-left: 24px;
            margin-top: 48px; */
    /* flex-basis: calc((100% - 48px) / 2); */
    /* } */

    .future-card {
        display: block;

        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .future-card:hover,
    .future-card:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }


    .future-text {
        margin-top: 8px;

    }

    .future-item {
        margin-top: 0;

    }

    .content-card {
        padding: 32px 0;
        background: #FFFFFF;
        border: 1px solid #E7E9FC;
        border-top: 0;
    }

    .footer-last {
        padding: 100px 0;
        background: var(--modal-overlay);
    }

    .content-thumb {
        position: relative;
        overflow: hidden;
    }

    .content-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        background-color: var(--primary-brand);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        padding: 40px 32px;

        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .future-card:hover .content-overlay,
    .future-card:focus .content-overlay {
        transform: translateY(0);
    }
}